@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";





.element-atom,
.interactive-atom {
    margin: 0 !important;
}


.line1 {
  fill: none;
  stroke: #cc0a11;
  stroke-width: 6px;
}

.line2 {
  fill: none;
  stroke: #ff6600;
  stroke-width: 6px;
}

.domain{
	display: none;
}

.y.axis .tick{
	text{
		transform: translate(8px, -10px);
		text-align: left;
		fill: #dcdcdc;
	}

	line{
		stroke-width: 1;
		stroke: #dcdcdc;
	}

	@include fs-textSans(2);
}

.x.axis .tick{
	@include fs-textSans(4);

	line{
		opacity:0;
		stroke-width: 1;
		stroke: #dcdcdc;
	}

	text{
		opacity: 0;
	}
}

.curtain{
	fill:#ffffff;
	opacity: 1;
}



.t50,
.t60,
.t70,
.t80,
.t90,
.t00,
.t10,
.t18,
.l50,
.l60,
.l70,
.l80,
.l90,
.l00,
.l10,
.l18,
.t1950,
.t1960,
.t1970,
.t1980,
.t1990,
.t2000,
.t2010,
.t2018,
.l2010,
.l1950,
.l1960,
.l1970,
.l1980,
.l1990,
.l2000,
.l2010,
.l2018
{
	opacity: 1!important;
}

.t1950{
	text-anchor: start;
}


.line{
		stroke-width: 1;
		stroke: #dcdcdc;
	}

